pcdet==0.6.0+0
pcdet==0.6.0+0
Mako==1.3.10
ipywidgets==8.1.7
sentry-sdk==2.39.0
asttokens==3.0.0
optuna-integration==4.5.0
ptyprocess==0.7.0
itsdangerous==2.2.0
nbformat==5.10.4
alembic==1.14.1
backcall==0.2.0
jupyterlab_widgets==3.0.15
fastjsonschema==2.21.2
Flask==3.0.3
SQLAlchemy==2.0.43
wcwidth==0.2.14
optuna==4.5.0
rpds-py==0.20.1
ConfigArgParse==1.7.1
pexpect==4.9.0
pkgutil_resolve_name==1.3.10
widgetsnbextension==4.0.14
jsonschema-specifications==2023.12.1
matplotlib-inline==0.1.7
pillow==10.4.0
executing==2.2.1
nest-asyncio==1.6.0
traitlets==5.14.3
pydantic_core==2.27.2
pure_eval==0.2.3
greenlet==3.1.1
eval_type_backport==0.2.2
open3d==0.19.0
dash==3.2.0
pickleshare==0.7.5
blinker==1.8.2
jedi==0.19.2
ipython==8.12.3
GitPython==3.1.45
pydantic==2.10.6
smmap==5.0.2
thop==0.1.1-2209072238
comm==0.2.3
jsonschema==4.23.0
addict==2.4.0
wandb==0.22.1
gitdb==4.0.12
annotated-types==0.7.0
referencing==0.35.1
prompt_toolkit==3.0.52
jupyter_core==5.8.1
parso==0.8.5
retrying==1.4.2
stack-data==0.6.3
protobuf==3.20.3
SharedArray==3.2.4
nox==2025.5.1
colorlog==6.9.0
opencv-python==4.11.0.86
tomli==2.2.1
mdurl==0.1.2
numpy==1.24.4
platformdirs==4.3.6
av2==0.2.0
distlib==0.3.9
tensorboardX==2.6.2.2
llvmlite==0.41.1
Pygments==2.19.1
rich==14.0.0
pyproj==3.5.0
attrs==25.3.0
dependency-groups==1.3.1
numba==0.58.1
argcomplete==3.6.2
markdown-it-py==3.0.0
virtualenv==20.31.2
pyquaternion==0.9.9
av==12.3.0
tensorflow-io-gcs-filesystem==0.34.0
wrapt==1.17.2
oauthlib==3.2.2
partd==1.4.1
matplotlib==3.6.1
fsspec==2025.3.0
waymo-open-dataset-tf-2-11-0==1.6.1
ccimport==0.4.4
cloudpickle==3.1.1
opt_einsum==3.4.0
nvidia-cufft-cu11==10.9.0.58
pyasn1==0.6.1
click==8.1.8
six==1.17.0
scipy==1.9.1
ninja==1.11.1.4
contourpy==1.1.1
tenacity==9.0.0
scikit-learn==1.2.2
einops==0.8.1
h5py==3.11.0
triton==2.3.1
dataclass_array==1.4.1
requests-oauthlib==2.0.0
toolz==1.0.0
certifi==2025.4.26
Jinja2==3.1.6
tensorflow-addons==0.21.0
fire==0.7.0
gast==0.4.0
nvidia-cuda-nvrtc-cu11==11.8.89
decorator==5.2.1
requests==2.32.3
cachetools==5.5.2
dask==2023.3.1
dm-tree==0.1.8
tensorflow==2.11.0
typeguard==2.13.3
visu3d==1.5.1
google-pasta==0.2.0
pyparsing==3.1.4
termcolor==2.4.0
nvidia-cusparse-cu11==11.7.5.86
google-auth-oauthlib==0.4.6
nvidia-cublas-cu11==11.11.3.6
MarkupSafe==2.1.5
nvidia-cusolver-cu11==11.4.1.48
nvidia-cudnn-cu11==8.7.0.84
plotly==5.13.1
dacite==1.8.1
sympy==1.13.3
pccm==0.4.16
grpcio==1.70.0
imageio==2.35.1
tensorflow-metadata==1.13.0
cycler==0.12.1
kornia==0.6.5
nvidia-cuda-runtime-cu11==11.8.89
lazy_loader==0.4
einsum==0.3.0
lark==1.2.2
joblib==1.4.2
tifffile==2023.7.10
tensorflow-estimator==2.11.0
scikit-image==0.20.0
astunparse==1.6.3
Markdown==3.7
setuptools==67.6.0
tensorboard-plugin-wit==1.8.1
Werkzeug==3.0.6
nvidia-nccl-cu11==2.20.5
OpenEXR==1.3.9
immutabledict==2.2.0
kiwisolver==1.4.7
mpmath==1.3.0
idna==3.10
nvidia-curand-cu11==10.3.0.86
array-record==0.4.0
locket==1.0.0
toml==0.10.2
python-dateutil==2.9.0.post0
nvidia-nvtx-cu11==11.8.86
google-auth==2.16.2
rsa==4.9.1
spconv-cu118==2.3.6
trimesh==4.6.8
PyYAML==6.0.2
packaging==25.0
pybind11==2.13.6
tensorflow-graphics==2021.12.3
charset-normalizer==3.4.2
PyWavelets==1.4.1
psutil==7.0.0
pytz==2025.2
urllib3==2.2.3
promise==2.3
nvidia-cuda-cupti-cu11==11.8.87
threadpoolctl==3.5.0
tensorflow-probability==0.19.0
tensorboard==2.11.2
easydict==1.13
etils==1.3.0
flatbuffers==25.2.10
tqdm==4.67.1
pyarrow==10.0.0
googleapis-common-protos==1.63.1
keras==2.11.0
portalocker==3.0.0
zipp==3.20.2
pyasn1_modules==0.4.2
fonttools==4.57.0
tensorboard-data-server==0.6.1
absl-py==1.4.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
pandas==1.5.3
libclang==18.1.1
filelock==3.16.1
cumm-cu118==0.4.11
tensorflow-datasets==4.9.0
torchaudio==2.3.1+cu118
torch==2.3.1+cu118
torchvision==0.18.1+cu118
networkx==2.8.8
typing_extensions==4.13.2
pip==25.0.1
pip==20.0.2
wheel==0.34.2
